# Dictionaries Intro

In [8]:
# we use  braces in dictionaries
# un order type of data
d = {}
type(d)

dict

In [2]:
# another way to  define
d2 = dict()
type(d2)

dict

In [3]:
d2["ist"] = 100
d2

{'ist': 100}

In [4]:
d2["sec"] = 200
d2

{'ist': 100, 'sec': 200}

In [5]:
d2["ist"] = 120
d2

{'ist': 120, 'sec': 200}

In [6]:
d2["3rd"] = 120
d2

{'ist': 120, 'sec': 200, '3rd': 120}

In [7]:
d3 = {"a":1, "b":2, "c":3,"d":4}
d3

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Functions with Dictionaries
*combining two dict
*incrementing dict value
*get 
*pop
*delete
*update
*bool check 
*keys() and value()

In [13]:
d4 = {}
d4a = {"apple" : 10, "pear" : 17}
d4b = {"potatos": 5,"tomatoes":11}
d4["d4a"] = d4a
d4["d4b"] = d4b
d4

{'d4a': {'apple': 10, 'pear': 17}, 'd4b': {'potatos': 5, 'tomatoes': 11}}

In [15]:
d4a["apple"] +=1
d4a

{'apple': 12, 'pear': 17}

In [16]:
d4a.get("apple")

12

In [18]:
d4a.get("banana" , "not found")

'not found'

In [19]:
d4a.pop("apple")
d4a

{'pear': 17}

In [21]:
del d4a["pear"]
d4a

{}

In [22]:
d5 = {"apple":3 , "pear":10}
d6 = {"apple": 12 , "banana":13}
d5.update(d6)
d5

{'apple': 12, 'pear': 10, 'banana': 13}

In [23]:
"banana" in d5

True

In [24]:
"tomato" in d5

False

In [25]:
d5.keys()

dict_keys(['apple', 'pear', 'banana'])

In [26]:
d5.values()

dict_values([12, 10, 13])