In [1]:
#list into list 
# in list we can add data of any data type
a = [1,2,[4,5]]
a

[1, 2, [4, 5]]

In [2]:
a[1]

2

In [3]:
a[2]

[4, 5]

In [4]:
#print index 0 in index 2
a[2] [0]

4

In [5]:
#error because no sub index in 0
a[0] [0]

TypeError: 'int' object is not subscriptable

In [6]:
#new list 
b = ["apple" , "pear","apple","apple","apple","apple" ]
b

['apple', 'pear', 'apple', 'apple', 'apple', 'apple']

In [8]:
#count function
b.count("apple")

5

In [10]:
#append function 
#it will add each time it excute here i run 2 time
b.append("orrange")
b

['apple', 'pear', 'apple', 'apple', 'apple', 'apple', 'orrange', 'orrange']

In [11]:
#adding list to list 
#it will always add to last position
b.append(["banana" , "melon"])
b

['apple',
 'pear',
 'apple',
 'apple',
 'apple',
 'apple',
 'orrange',
 'orrange',
 ['banana', 'melon']]

In [12]:
#now we want to add to any position
b.insert(3,"mango")
b

['apple',
 'pear',
 'apple',
 'mango',
 'apple',
 'apple',
 'apple',
 'orrange',
 'orrange',
 ['banana', 'melon']]

In [14]:
# removing element from list
b.remove("mango")
b

['apple',
 'pear',
 'apple',
 'apple',
 'apple',
 'apple',
 'orrange',
 'orrange',
 ['banana', 'melon']]

In [15]:
#pop function 
#it show element at index one of list and also remove from list
b.pop(1)

'pear'

In [18]:
#sort function 
c= [1,4,6,8,4,3,7,8,9,6]
c.sort()
c

[1, 3, 4, 4, 6, 6, 7, 8, 8, 9]

In [21]:
d = sorted(c)

[1, 3, 4, 4, 6, 6, 7, 8, 8, 9]

In [22]:
#reverse function
e = ["world ", "hello"]
e.reverse()
e

['hello', 'world ']