In [ ]:
print("hellow world");

# Operation

In [2]:
2+2

4

In [3]:
print(2+2)

4

In [4]:
2+2
2-2

0

# Variables

In [32]:
mike = 5
print(mike)

5

In [33]:
type(mike)

int

In [36]:
newvar = "123"
print(newvar)

123

In [37]:
int(newvar)

123

In [39]:
varbool = true 
print(varbool)

NameError: name 'true' is not defined

In [40]:
mike_2 = 2.5
type(mike_2)

float

In [41]:
mike_3 = True

In [42]:
mike_3

True

In [43]:
type(mike_3)

bool

In [44]:
4 >6

False

In [45]:
4 == 6

False

In [46]:
4 == 4

True

In [47]:
round(5.6)

6

In [48]:
round(5.4)

5

In [49]:
max(1,2,3)

3

In [50]:
min(1,2,3)

1

# Strings

In [51]:
str_1 = " hello Python"

In [52]:
str_1

' hello Python'

In [53]:
str_2 = " hellow world "
str_2 + str_1

' hellow world  hello Python'

In [54]:
str_3 = str_1 *3
str_3

' hello Python hello Python hello Python'

In [55]:
str_4 = "1 2 3 4 5"
str_4

'1 2 3 4 5'

In [56]:
str_5 = "1,2,3,4,5"
str_5

'1,2,3,4,5'

In [57]:
str_4.split()
str_5.split()

['1,2,3,4,5']

In [58]:
str_5.split(",")

['1', '2', '3', '4', '5']

In [61]:
str_6 = "5"
str_6.join(str_5)

'15,525,535,545,55'

In [62]:
str_1

' hello Python'

In [63]:
str_1.replace("Python","Anaconda")

' hello Anaconda'

In [64]:
str_1

' hello Python'

In [65]:
str_1 = str_1.replace("Python","Anaconda")
str_1

' hello Anaconda'

In [66]:
str_1

' hello Anaconda'

In [67]:
str_1.upper()

' HELLO ANACONDA'

In [68]:
str_1.lower()

' hello anaconda'

In [72]:
str_7 = "   hellooo   "
str_7
#to remove spaces
str_7.strip()

'hellooo'

In [70]:
str_7

'   hellooo   '

In [73]:
#to remove left and right spaces
str_7.lstrip()
str_7.rstrip()

'   hellooo'

In [74]:
str_7.lstrip()

'hellooo   '

In [75]:
len(str_7)

13

In [76]:
len(str_2)

14